@import './utils/vars';
@import './utils/utils-classes';
@import './utils/mixin';
@import './components/header';
@import './components/effective';
@import './components/features';
@import './components/our-work';
@import './components/team';
@import './components/regular';
@import './components/footer';
@import './components/modal';
@import './components/portfolio';
