.navigation-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}
.navigation-contacts-list__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: getColor('main-p-color');
  @include navigation-contacts;
  &:hover,
  &:focus {
    color: getColor('main-accent-color');
  }
}
.navigation-contacts-list__icon--envelope,
.navigation-contacts-list__icon--smartphone {
  fill: currentColor;
}
.navigation-contacts-list__icon--envelope--start,
.navigation-contacts-list__icon--smartphone--start {
  margin-right: 10px;
}
.navigation-contacts-list__link--footer {
  line-height: 1.71;
  color: getColor('footer-contact-color');
}
.navigation-contacts-list__link--footer:hover,
.navigation-contacts-list__link--footer:focus {
  color: getColor('main-accent-color');
}
