.features-list {
  display: flex;
}
.features-list__item {
  margin-right: 30px;
}

.features-list__item:last-child {
  margin-right: 0px;
}
.features-list__div {
  background-color: getColor('features-div-color');
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  @include flex-align-justify;
}
.features-list__h {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor('headers-nav-color');
}
.features-list__p {
  line-height: 1.71;
}
