.footer {
  background-color: #2f303a;
  height: 251px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address {
  line-height: 1.71;
  font-style: normal;
  color: getColor('white-color');
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:hover,
  &:focus {
    color: getColor('main-accent-color');
  }
}
.footer__address--item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__flex--div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer__soc--div {
  margin-left: 70px;
}
.footer__soc--p {
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor('white-color');
  margin-bottom: 20px;
}
.footer__soc--list {
  display: flex;
}
.footer__soc--items:not(:last-child) {
  margin-right: 10px;
}
.footer__soc--link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: getColor('white-color');
  &:hover,
  &:focus {
    background-color: getColor('main-accent-color');
  }
}

.footer__soc--icons {
  fill: currentColor;
}

.footer__subscribe--div {
  margin-left: auto;
}
.footer__subscribe--form {
  display: flex;
}
.footer__subscribe--email {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: getColor('white-color');
}
.footer__subscribe--btn {
  @include flex-align-justify;
  gap: 10px;
  &:hover,
  &:focus {
    background-color: getColor('btn-hover-color');
  }
}
