.our-work__section {
  padding-top: 0;
}
.our-work__h {
  display: block;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: getColor('headers-nav-color');
}
.our-work-list {
  display: flex;
}
.our-work-list__item {
  margin-right: 30px;
}
.our-work-list__item:last-child {
  margin-right: 0;
}
.our-work-list-div {
  position: relative;
}
.our-work-list-div__p {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  @include flex-align-justify;
  background-color: rgba(47, 48, 58, 0.8);
  color: getColor('white-color');
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
