.regular-section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.regular-section__h {
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('headers-nav-color');
  margin-bottom: 50px;
}
.regular-clients__list {
  display: flex;
}
.regular-clients__item:not(:last-child) {
  margin-right: 30px;
}
.regular-clients__link {
  @include flex-align-justify;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid getColor('main-border-color');
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: getColor('main-border-color');
  &:hover,
  &:focus {
    color: getColor('main-accent-color');
    border: 1px solid getColor('main-accent-color');
  }
}
.regular-clients__soc-icons {
  fill: currentColor;
}
